<!DOCTYPE html>
<html>
<head>
    <title>Motherboards</title>
</head>
<body>
    <h1>Motherboards</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Socket</th>
                <th>Form Factor</th>
                <th>Memory Slots</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for motherboard in motherboards %}
                <tr>
                    <td>{{ motherboard.name }}</td>
                    <td>{{ motherboard.socket }}</td>
                    <td>{{ motherboard.form_factor }}</td>
                    <td>{{ motherboard.memory_slots }}</td>
                    <td>{{ motherboard.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
